
@{
    ViewBag.Title = "Converter";
}

<h2>Convert json to xml</h2>
<p>@Html.ActionLink("Convert", "JsonToXmlConverting", null, new { @class = "btn btn-default" })</p>
<h2>Convert xml to json</h2>
<p>@Html.ActionLink("Convert", "XmlToJsonConverting", null, new { @class = "btn btn-default" })</p>

